<header class="header">
    <div class="logo">
        <img src="https://rewardz.sg/images/icons/main-menu/about-rewardz.svg" alt="Company Logo" height="50">
    </div>
    <div class="actions">
        <div class="notification">
            <button mat-icon-button>
                <mat-icon color="primary">notifications</mat-icon>
            </button>
            <span class="badge">536</span>
        </div>

        <button mat-icon-button>
            <mat-icon color="primary">language</mat-icon>
        </button>

        <div class="user-avatar">
            <img src="https://rewardz.sg/images/icons/home-page/b2.png" alt="User Avatar" />
        </div>
    </div>
</header>